
@{
    ViewBag.Title = "RegisterConfirm";
}
<head>
    <title>註冊成功</title>
</head>
<div id="app" class="page-container">
    <div class="content-wrap">
        <main class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb"><a href="Main.html">首頁</a></li>
                    <li class="breadcrumb active">註冊會員</li>
                    <li class="breadcrumb active">註冊成功</li>
                </ol>
            </nav>

            <h2 class="fw-bolder mb-3">註冊成功</h2>
            請您去信箱收信，點擊信內超連結來啟用帳戶，謝謝您。<a href="Main.html">點此回首頁</a>
        </main>
    </div>
</div>

            

