
@{
    ViewBag.Title = "註冊成功";
}

<head>
    <title>註冊成功</title>
</head>
<div id="app" class="page-container">
    <div class="content-wrap">
        <main class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb"><a href="@Url.Action("index", "Home")">首頁</a></li>
                    <li class="breadcrumb active">註冊會員</li>
                    <li class="breadcrumb active">註冊成功</li>
                </ol>
            </nav>

            <h2 class="fw-bolder mb-3">註冊成功</h2>
            恭喜您！您的帳戶已成功註冊，現在您已成為我們影城的會員。感謝您的加入！<a href="@Url.Action("index", "Home")">點此回首頁</a>
        </main>
    </div>
</div>

